
/*--Google fonts-*/
@import url('https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900|Poppins:100,200,300,400,500,600,700,800,900&display=swap');


/*global css*/
body{
 font-family: 'Poppins', sans-serif;
 margin: 0 auto;
}
.container{
	width: 1140px;
	margin: 0 auto;
	
}
.row{
	width: 100%;
	float: left;
}
.col-md-1{
	width: 8.3333% ;
	float: left;
}
.col-md-2{
	width: 16.6666% ;
	float: left;
}
.col-md-3{
	width: 24.9999%;
	float: left;
}
.col-md-4{
	width: 33.3332%;
	float: left;
}
.col-md-5{
	width: 41.6665%;
	float: left;
}
.col-md-6{
	width: 50%;
	float: left;
}
.col-md-7{
	width: 58.3331%;
	float: left;
}
.col-md-8{
	width: 66.6664%;
	float: left;
}
.col-md-9{
	width: 74.9997%;
	float: left;
}
.col-md-10{
	width: 83.333%;
	float: left;
}
.col-md-11{
	width: 91.6663%;
	float: left;
}
.col-md-12{
	width: 100%;
	float: left;
}

.logo{
	padding: 15px 0px;
	background-color: #ffffff;
    float: left;
}
.banner{
	width: 100%;
	float: left;
	background: url(../img/banar.png) no-repeat center;
	background-size: cover;
	float: left;
	
}
.banner h1{
	text-transform: uppercase;
	text-align: center;
	font-size: 90px;
	color: #ffffff;
	letter-spacing: 3px;
	margin-top: 169px;

}
.title-border{
	
	background-color: #15a4fa;
	height: 2px;
	width: 60%;
	margin: 0 auto;
	margin-top: -90px;
}
.banner p{
	
	display: block;
	text-align: center;
	color: #b0afb2;
}
.btn-customize {
    display: block;
    margin: 0 auto;
    text-align: center;
    border-color: #15a4fa;
    background: transparent;
    padding: 10px;
    font-size: 20px;
    color: #ffffff;
    margin: 70px auto 125px;
}
.btn-customize:hover{
	cursor: pointer;
	background-color: #15a4fa;
}
.downicon{
	color: #ffff;
	font-size: 19px;
	display: block;
	text-align: center;
	margin-bottom: 80px;
}

/*------about section css ------------*/

.about{
	background-color: #f6f9f9;
}
.about h2 {

    text-align: center;
    padding-top: 40px;
    font-size: 27px;
}
.about p {
    text-align: center;
    padding: 0 62px;
    color: #c8c9c9;
    line-height: 32px;
    margin-top: -5px;
    margin-bottom: 100px;
}

/*------feature section css ------------*/
.feature-section{

}
.feature-section img{
	display: block;
	margin: 0 auto;
}

.feature-section h3{
	    text-align: center;

}
.feature-section p{
	text-align: center;
	padding-bottom: 110px;

}

/*------portfolio section css ------------*/
.portfolio-section{

}

.portfolio-section h2{
	text-align: center;
    font-size: 33px;
}

.portfolio-section p{
	text-align: center;

}
.item{
	position: relative;
	overflow: hidden;
	width: 368px;
}
.item img{
	height: 100%;
	width: 100%;
}
.item-hoverbox{
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	position: absolute;
	background: rgba(31,163,242,0);
	transform: translateX(-100%);
	transition: 0.4s ease-in-out;
}
.item:hover .item-hoverbox{
	height: 100%;
	width: 100%;
	position: absolute;
	background: rgba(31,163,242,.7);
	transform: translateX(0%);

}
.item-hoverbox ul{
	margin: 0;
	padding: 0;
}
.item-hoverbox ul li{
	text-align: center;
	list-style: none;
}
.fa-link{
	width: 45px;
	height: 45px;
	border: 1px solid #fff;
	font-size: 32px;
	line-height: 46px;
	color: #fff;
	margin-top: 28%;
}


.port-top{
   margin-top: 55px;
}
.port-bottom{
    margin-top: 20px;
    margin-bottom: 90px;
}

/*------Contact section css ------------*/

.contact-section{
	width: 100%;
	float: left;
	background: url(../img/contact.png) no-repeat center;
    background-size: cover;
}

.contact-section h2{
      text-align: center;
      color:black;
}
.contact-section p{
     text-align: center;
     color: black;
}
.contact-form{
	width: 400px;
	margin: 50px auto;
	
}
.form-group{
	margin-bottom: 20px;
}
.form-control{
     width: 100%;
     height: 35px;
     border: 1px solid #5c6575;
     background: transparent;
     padding: 0 10px;
     font-size: 16px;
     color: #999999;
     border-radius: 3px;

}
.form-control-area{
	 width: 100%;
     border: 1px solid #5c6575;
     background: transparent;
     padding: 0 10px;
     font-size: 16px;
     color: #999999;
     border-radius: 3px;
 
 }
.form-group label{
	color: #fff;
	margin-left: 5px;

 }
 .btn-contol{
 	padding:12px 35px;
 	color: #fff;
 	border-radius: 3px;
 	 border: 1px solid #5c6575;
 	float: right;
 	background: transparent;
 }
.btn-contol:hover{
	cursor: pointer;
   background-color: #15a4fa; 
}
footer{
	margin-top: 10px;
}
.footer-media p{
	margin-left: 70px;
}
.footer-media ul{
	padding: 0;
    margin:0;
	
}
.footer-media ul li{
	list-style: none;
	text-align: center;
	display: inline;
}
.footer-media ul li .fa{
	width: 40px;
    height: 40px;
    margin: 0 5px;
    background: #15a4fa;
    line-height: 40px;
    margin-top: 10px;
    float: right;
    color: #fff;
}
.footer-media ul li .fa:hover{
	transform: scale(1.5,1.5);
}



/*------effect css---*/
.effect{
	padding: 125px 0px;
}
.effect-one{
	position: relative;
	border: 0px;
    background-color: #15a4fa;
    color: #fff;
    padding: 20px;
    font-size: 20px;
    transition:.5s ease-in-out;
    z-index: 1;
    overflow: hidden;

}
.effect-one::after{
	content: "";
	position: absolute;
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	background: black;
	transition: .5s ease-in-out;
	transform: translateX(-100%);
    z-index: -1;

}
.effect-one:hover::after{
	transform: translateX(0%);

}
