@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap');

.container{
  width: 1140px;
  margin: 0 auto;
  
}
.row{
  width: 100%;
  float: left;
}
.col-md-1{
  width: 8.3333% ;
  float: left;
}
.col-md-2{
  width: 16.6666% ;
  float: left;
}
.col-md-3{
  width: 24.9999%;
  float: left;
}
.col-md-4{
  width: 33.3332%;
  float: left;
}
.col-md-5{
  width: 41.6665%;
  float: left;
}
.col-md-6{
  width: 50%;
  float: left;
}
.col-md-7{
  width: 58.3331%;
  float: left;
}
.col-md-8{
  width: 66.6664%;
  float: left;
}
.col-md-9{
  width: 74.9997%;
  float: left;
}
.col-md-10{
  width: 83.333%;
  float: left;
}
.col-md-11{
  width: 91.6663%;
  float: left;
}
.col-md-12{
  width: 100%;
  float: left;
  
}

/*------------------------header-section-------------------------------------------*/

.bg-light {
    background-color: #000!important;
}
.navbar-light .navbar-nav .active>.nav-link{
    color: #fff;
}
.navbar-light .navbar-nav .nav-link {
    color: #fff;
}
.header-section{
  width: 100%;
  float: left;
  background: url(../img/banner.png) no-repeat center;
  background-size: cover;
}
.divider{
  width: 100%;
  padding: 10px 0;
  margin-top: 27px;
  background: url(../img/divider.png) left top no-repeat;
}
.bennar-content img{
   margin-top: 109px;
}
.bennar-content h4{
    color: #FFF;
    font-size: 38px;
    font-weight: 300;
    margin-top: 33px;
}
.bennar-content p{

    color: #727377;
    margin-top: 20px;
}

.btn-edit{
    width: 134px;
    margin-top: 51px;
    padding: 10px;
    border: 2px solid #727377;
    background: transparent;
    color: #fff;
    font-weight: 600;
    margin-right: 12px;
    margin-bottom: 140px;
}
.btn-edit:hover{
    background-color: #ff8b38;
    border-color:#ff8b38; 
}

.sign-up{
      margin-top: 132px;
      width: 331px;
      height: 303px;
      background: #fff;
      margin-left: 109px;

}
.form-header{
    background: #f5f5f5;
    height: 48px;
    text-align: center;
    padding: 7px;
}
.form-header span{
  color: #ff9b51;
}

.form-group{

}
.form-control{
    border: none;
    border-bottom: 1px solid #d6d6d6;
    margin-top: 18px;
}
.form-control:focus {
    color: #495057;
    background-color: #fff;
    border-color: #ff9b51;
    outline: 0;
    box-shadow: 0 0 0 0 rgba(0,123,255,.25);
}
.btn-trial{
    padding: 12px;
    background: #ff9b51;
    color: #fff;
    margin-top: 12px;
    font-size: 22px;
    width: 100%;
    border: 2px solid #ff9b51;
 }
 .sign-up form{
  padding: 0 30px;
 }



/*------------------social media css---------------------*/

.social-media{
  width: 100%;
  float: left;
  border-bottom: 2px solid #cccccc;

}
.social-media h4{
    margin-top: 20px;
    font-size: 19px;
    font-weight: 700;
}
.social-media p{
    font-size: 13px;
    color: #cccccc;
}
.media{
    font-size: 35px;
    padding: 25px;
}
.media ul{
  padding: 0;
    margin:0;
}
.media ul li{
  list-style: none;
  text-align: center;
  display: inline;
}
.media ul li .fa {
    width: 40px;
    height: 40px;
    margin: 0 22px;
    line-height: 40px;
    margin-top: 10px;
    float: right;
    color: #cccccc;
}
.media ul li .fa:hover{
  transform: scale(1.5,1.5);
}


/*------------------Feature-1 css---------------------*/
.feature-1-section {
   width: 100%;
   float: left;
   background: #f5f5f5;

}
.feature-1-section h5{
    margin-top: 111px;
    font-weight: 500;
}
.feature-1-section p{
    text-align: justify;
    margin-top: 36px;
    color: #bcbcbe;
    font-size: 13px;
    margin-bottom: -9px;
}
.tab{
  margin-top: 110px;
}
.feature-1-section .tab ul li{
    list-style: none;
    width: 82px;
    background: #333333;
    height: 100px;
    color: #fff;
    margin-bottom: 1px;
    font-weight: bold;
    text-align: center;
    line-height: 102PX;
    cursor: pointer;
    transition: .4s ease-in-out;

}
.feature-1-section .tab ul li:hover{
  background: #ff8b38;
  color: #fff;
}
.feature-1-section .tab ul .active{
   background: #ff8b38;
   cursor: pointer;
}

 
.btn-feature{
    width: 134px;
    margin-top: 51px;
    padding: 10px;
    border: 1px solid #ff8b38;
    background: #ff8b38;
    color: #fff;
    font-weight: 600;
    margin-right: 12px;
    margin-bottom: 140px;
}
.btn-feature:hover{
    background-color: #ff8b38;
    border-color:#ff8b38; 
}
.feature-1-section img{
    margin-top: 150px;
}


/*------------------Feature-2 css---------------------*/
.feature-2-section{
    width: 100%;
    float: left;
    padding: 78px 0 49px;
    font-family: 'Open Sans', sans-serif;

}
.feature-2-section img{

}
.feature-2-section h5{
    font-weight: 700;
}
.feature-2-section .divider{
    width: 100%;
    background: url(../img/divider.png) left bottom no-repeat;
    margin-top: -3px;
}
.feature-2-section .header{
   color: #c3c3c5;
   margin-top: 20px;
   font-size: 14px;
}
.feature-2-section .title img{
   margin-left: -51px;
}
.feature-2-section .title h6{
   margin-top: 18px
}
.feature-2-section .title p{
  color: #c3c3c5;
  font-size: 12px;

}


/*------------------Feature-3 css---------------------*/

.feature-3-section{
   width: 100%;
   float: left;
   background: #f5f5f5;
   padding: 73px 0 44px;
   font-family: 'Open Sans', sans-serif;
}
.feature-3-section h5{
       font-weight: 700;

}
.feature-3-section p{
    color: #c3c3c5;
    font-size: 15px;
    width: 91%;
    text-align: justify;
}

/*------------------Feature-2 css---------------------*/
.Process-section{
  width: 100%;
  float: left;
  padding: 90px;
}

.Process-section h3{
   width: 100%;
   text-align: center;
}
.Process-section .divider{
    width: 100%;
    background: url(../img/divider.png) center bottom no-repeat;
    margin-top: 5px;
}
.Process-section .head{
    text-align: center;
    margin-top: 17px;
    font-size: 12px;
    color: #c3c3c5;
}

.Process-section img{
    display: block;
    margin: 0 auto;
    width: 16%;
    margin-top: 54px;

}
.Process-section h6{
    text-align: center;
    margin-top: 24px;
    font-weight: bold;
}
.Process-section p{
    color: #c3c3c5;
    text-align: center;
    font-size: 14px;
    margin-top: 17px;
}

/*----------pricing section css----------------*/

.pricing-section{
   width: 100%;
   float: left;
   background: #f5f5f5;
   padding-top: 52px;
   padding-bottom: 62px;
}
.pricing-section .divider{
    width: 100%;
    background: url(../img/divider.png) center bottom no-repeat;
    margin-top: 5px;
}
.pricing-section h4{
    text-align: center;
    font-size: 28px;
}
.pricing-section p{
    text-align: center;
    font-size: 13px;
    margin-top: 20px;
    color: #c3c3c5;
}

.body{
   margin-top: 85px;
   width: 100%;
}
.pricing-header{
    background: #000;
    padding: 5px;
}
.pricing-header h4{
    color: #fff;
    font-weight: 400;
}
.pricing {
    background: #000;
    padding: 12px;
    margin-top: 1px;
    border-bottom: 4px solid #ff8b38;
}
.pricing h4{
    color: #fff;
    font-size: 50px;
    font-weight: 700;
    font-family: 'Raleway', sans-serif;
}
.pricing span{
    font-size: 23px;
    margin-right: -10px;
}


.pricing p{
    font-style: italic;
    color: #a9aaac;
}
.pricing-body{

}
.pricing-body ul{
   padding: 0;
}
.pricing-body ul li{
    list-style: none;
    padding: 9px;
    text-align: center;
    background: #fff;
    border-bottom: 1px solid #f5f5f5;
}
.popular{
  width: 100%;
  padding: 10px;
  text-align: center;
  background: #ff8b38;
}
.popular h5{
    color: #fff;
    font-size: 15px;
    font-weight: 400;
}
.middle-part{
  margin-top: 41px;
}

/*----------pricing section css----------------*/
.testimonial-section{
   width: 100%;
   float: left;
   background: #fff;
   padding-top: 52px ;
   padding-bottom: 50px;
}
.testimonial-section .divider{
    width: 100%;
    background: url(../img/divider.png) center bottom no-repeat;
    margin-top: 5px;
}
.testimonial-section h3{
      text-align: center;
      font-size: 28px;
}
.testimonial-section p{
    text-align: center;
    font-size: 13px;
    margin-top: 20px;
    color: #c3c3c5;
}
.testimonial-section .testimonial-inner{
    width: 76%;
    padding:20px;
    position: relative;
    background: #f5f5f5;
    margin-top: 59px; 
   
}
.testimonial-section .testimonial-inner p{
    text-align: left;
    font-style: italic;

   
}
.testimonial-section .testimonial-divider{
   position: absolute;
   width: 40px;
   height: 40px;
   left: 25px;
   bottom: -10px;
   background: #f5f5f5;
   transform: rotate(45deg);

}
.testimonial-section .media img {
    vertical-align: middle;
    border-style: none;
    width: 61px;
}
.testimonial-section .media .media-body p{
     margin-left: -128px;
    font-size: 20px;
    margin-top: -5px;
}
/*-------------------custom section css--------------------------------*/
.custom-section{
   width: 100%;
   float: left;
   background: #fff;
   padding-top: 52px ;
   padding-bottom: 50px;
   background: url(../img/custom-bg.png) no-repeat center;
   background-size: cover;
}
.custom-section .divider{
    width: 100%;
    background: url(../img/divider-c.png) center bottom no-repeat;
    margin-top: 5px;
}
.custom-section h4{
    text-align: center;
    font-size: 32px;
    color: #fff;
    font-weight: lighter;
    letter-spacing: 2px;
}
.custom-section p{
    text-align: center;
    font-size: 13px;
    margin-top: 20px;
    color: #c3c3c5;
}
.custom-section .btn-custom-section{
    padding: 6px 21px;
    color: #fff;
    border: 1px solid #fff;
    margin-left: 461px;
    margin-top: 20px;

}
.custom-section .btn-custom-section:hover{
    color: #000;
    background: #fff;
}
/*-------------------contact section css--------------------------------*/
.contact-section{
    width: 100%;
   float: left;
   background: #fff;
   padding-top: 52px ;
   padding-bottom: 50px;
}
.contact-section .divider{
    width: 100%;
    background: url(../img/divider.png) center bottom no-repeat;
    margin-top: 5px;
}
.contact-section h4{
      text-align: center;
      font-size: 28px;
}
.contact-section p{
    text-align: center;
    font-size: 13px;
    margin-top: 20px;
    color: #c3c3c5;
}
.contact-section .first-part{
        margin-top: 62px;
}
.contact-section .sec-part{
           margin-top: 90px;
}
.contact-section .form-group-in{
      width: 485px;
}
.contact-section .form-group-in textarea{
       width: 485px;
}
.contact-section .btn-contact{
    width: 134px;
    margin-top: 51px;
    padding: 10px;
    border: 1px solid #ff8b38;
    background: #ff8b38;
    color: #fff;
    font-weight: 600;
    margin-right: 12px;

}
.contact-section .btn-contact:hover{
    background-color: #ff8b38;
    border-color:#ff8b38; 
}

/*--------------------contact through socail media css---------------*/
.social-contact{
     width: 100%;
     float: left;
     background: #000;
}
.social-contact .media{
  
}
.social-contact .media{
    font-size: 35px;
    padding: 25px;
}
.social-contact .media ul{
    padding: 0;
    margin:0;
}
.social-contact .media ul li{
  list-style: none;
  text-align: center;
  display: inline;
}
.social-contact .social-contact .media ul li .fa {
    width: 40px;
    height: 40px;
    margin: 0 22px;
    line-height: 40px;
    margin-top: 10px;
    float: right;
    color: #cccccc;
}
.social-contact .media ul li .fa:hover{
  transform: scale(1.5,1.5);
}
.social-contact p{
  color: #fff;
  text-align: center;
}
